* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	text-align: center;
	margin: 20px 0;
	font-family: 'Roboto', sans-serif;
	color: white;
}

#ui {
	position: fixed;
	top: 0;
	left: 0;
	background-color: darkgreen;
	padding: 10px;
	border-bottom-right-radius: 20px;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

	& button {
		display: block;
		margin-bottom: 10px;
		padding: 5px 10px;
		border-radius: 5px;
		border: none;
	}
}
